@charset "UTF-8";
:root {
  
  --eai-color-white: #ffffff;
  --eai-color-black: #000000;
  --eai-color-primary-rgb: 20, 114, 255;
  --eai-color-success-rgb: 103, 194, 58;
  --eai-color-warning-rgb: 230, 162, 60;
  --eai-color-danger-rgb: 245, 108, 108;
  --eai-color-error-rgb: 245, 108, 108;
  --eai-color-info-rgb: 144, 147, 153;
  --eai-font-size-extra-large: 20px;
  --eai-font-size-large: 18px;
  --eai-font-size-medium: 16px;
  --eai-font-size-base: 14px;
  --eai-font-size-small: 13px;
  --eai-font-size-extra-small: 12px;
  --eai-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --eai-font-weight-primary: 500;
  --eai-font-line-height-primary: 24px;
  --eai-index-normal: 1;
  --eai-index-top: 1000;
  --eai-index-popper: 2000;
  --eai-border-radius-base: 4px;
  --eai-border-radius-small: 2px;
  --eai-border-radius-round: 20px;
  --eai-border-radius-circle: 100%;
  --eai-transition-duration: 0.3s;
  --eai-transition-duration-fast: 0.2s;
  --eai-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --eai-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --eai-transition-all: all var(--eai-transition-duration) var(--eai-transition-function-ease-in-out-bezier);
  --eai-transition-fade: opacity var(--eai-transition-duration) var(--eai-transition-function-fast-bezier);
  --eai-transition-md-fade: transform var(--eai-transition-duration) var(--eai-transition-function-fast-bezier), opacity var(--eai-transition-duration) var(--eai-transition-function-fast-bezier);
  --eai-transition-fade-linear: opacity var(--eai-transition-duration-fast) linear;
  --eai-transition-border: border-color var(--eai-transition-duration-fast) var(--eai-transition-function-ease-in-out-bezier);
  --eai-transition-box-shadow: box-shadow var(--eai-transition-duration-fast) var(--eai-transition-function-ease-in-out-bezier);
  --eai-transition-color: color var(--eai-transition-duration-fast) var(--eai-transition-function-ease-in-out-bezier);
  --eai-component-size-large: 40px;
  --eai-component-size: 32px;
  --eai-component-size-small: 24px
}

:root {
  color-scheme: light;
  --eai-color-white: #ffffff;
  // 按钮禁用字体颜色
  --eai-color-white-light-10: #b2b2b2;
  --eai-color-black: #000000;
  --eai-color-primary: #1472ff;
  --eai-color-primary-light-3: #428EFF;
  // 禁用场景样式
  --eai-color-primary-light-5: #f5f5f5;
  // 禁用状态边框border
  --eai-color-primary-light-6: #dbdbdb;
  --eai-color-primary-light-7: #b9d5ff;
  --eai-color-primary-light-8: #d0e3ff;
  --eai-color-primary-light-9: #ebf3ff;
  --eai-color-primary-dark-2: #005AE0;
  --eai-color-success: #67c23a;
  --eai-color-success-light-3: #95d475;
  --eai-color-success-light-5: #b3e19d;
  --eai-color-success-light-7: #d1edc4;
  --eai-color-success-light-8: #e1f3d8;
  --eai-color-success-light-9: #f0f9eb;
  --eai-color-success-dark-2: #529b2e;
  --eai-color-warning: #FFA51F;
  --eai-color-warning-light-3: #eebe77;
  --eai-color-warning-light-5: #f3d19e;
  --eai-color-warning-light-7: #f8e3c5;
  --eai-color-warning-light-8: #faecd8;
  --eai-color-warning-light-9: #fdf6ec;
  --eai-color-warning-dark-2: #b88230;
  --eai-color-danger: #f56c6c;
  --eai-color-danger-light-3: #f89898;
  --eai-color-danger-light-5: #fab6b6;
  --eai-color-danger-light-7: #fcd3d3;
  --eai-color-danger-light-8: #fde2e2;
  --eai-color-danger-light-9: #fef0f0;
  --eai-color-danger-dark-2: #c45656;
  --eai-color-error: #f56c6c;
  --eai-color-error-light-3: #f89898;
  --eai-color-error-light-5: #fab6b6;
  --eai-color-error-light-7: #fcd3d3;
  --eai-color-error-light-8: #fde2e2;
  --eai-color-error-light-9: #fef0f0;
  --eai-color-error-dark-2: #c45656;
  --eai-color-info: #999;
  --eai-color-info-light-3: #b1b3b8;
  --eai-color-info-light-5: #c8c9cc;
  --eai-color-info-light-7: #dedfe0;
  --eai-color-info-light-8: #e9e9eb;
  --eai-color-info-light-9: #f4f4f5;
  --eai-color-info-dark-2: #73767a;
  --eai-bg-color: #ffffff;
  --eai-bg-color-page: #f2f3f5;
  --eai-bg-color-overlay: #ffffff;
  --eai-text-color-primary: #333;
  --eai-text-color-regular: #606266;
  --eai-text-color-secondary: #999;
  --eai-text-color-placeholder: #a8abb2;
  --eai-text-color-disabled: #c0c4cc;
  --eai-border-color: #dcdfe6;
  --eai-border-color-light: #e4e7ed;
  --eai-border-color-lighter: #ebeef5;
  --eai-border-color-extra-light: #f2f6fc;
  --eai-border-color-dark: #d4d7de;
  --eai-border-color-darker: #cdd0d6;
  --eai-fill-color: #f0f2f5;
  --eai-fill-color-light: #f5f5f5;
  --eai-fill-color-lighter: #fafafa;
  --eai-fill-color-extra-light: #fafcff;
  --eai-fill-color-dark: #ebedf0;
  --eai-fill-color-darker: #e6e8eb;
  --eai-fill-color-blank: #ffffff;
  --eai-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --eai-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --eai-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --eai-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --eai-disabled-bg-color: var(--eai-fill-color-light);
  --eai-disabled-text-color: var(--eai-text-color-placeholder);
  --eai-disabled-border-color: var(--eai-border-color-light);
  --eai-overlay-color: rgba(0, 0, 0, 0.8);
  --eai-overlay-color-light: rgba(0, 0, 0, 0.7);
  --eai-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --eai-mask-color: rgba(255, 255, 255, 0.9);
  --eai-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --eai-border-width: 1px;
  --eai-border-style: solid;
  --eai-border-color-hover: var(--eai-text-color-disabled);
  --eai-border: var(--eai-border-width) var(--eai-border-style) var(--eai-border-color);
  --eai-svg-monochrome-grey: var(--eai-border-color)
}

.fade-in-linear-enter-active, .fade-in-linear-leave-active {
  transition: var(--eai-transition-fade-linear)
}

.fade-in-linear-enter-from, .fade-in-linear-leave-to {
  opacity: 0
}

.eai-fade-in-linear-enter-active, .eai-fade-in-linear-leave-active {
  transition: var(--eai-transition-fade-linear)
}

.eai-fade-in-linear-enter-from, .eai-fade-in-linear-leave-to {
  opacity: 0
}

.eai-fade-in-enter-active, .eai-fade-in-leave-active {
  transition: all var(--eai-transition-duration) cubic-bezier(.55, 0, .1, 1)
}

.eai-fade-in-enter-from, .eai-fade-in-leave-active {
  opacity: 0
}

.eai-zoom-in-center-enter-active, .eai-zoom-in-center-leave-active {
  transition: all var(--eai-transition-duration) cubic-bezier(.55, 0, .1, 1)
}

.eai-zoom-in-center-enter-from, .eai-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0)
}

.eai-zoom-in-top-enter-active, .eai-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--eai-transition-md-fade);
  transform-origin: center top
}

.eai-zoom-in-top-enter-active[data-popper-placement^=top], .eai-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom
}

.eai-zoom-in-top-enter-from, .eai-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0)
}

.eai-zoom-in-bottom-enter-active, .eai-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--eai-transition-md-fade);
  transform-origin: center bottom
}

.eai-zoom-in-bottom-enter-from, .eai-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0)
}

.eai-zoom-in-left-enter-active, .eai-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--eai-transition-md-fade);
  transform-origin: top left
}

.eai-zoom-in-left-enter-from, .eai-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45, .45)
}

.collapse-transition {
  transition: var(--eai-transition-duration) height ease-in-out, var(--eai-transition-duration) padding-top ease-in-out, var(--eai-transition-duration) padding-bottom ease-in-out
}

.eai-collapse-transition-enter-active, .eai-collapse-transition-leave-active {
  transition: var(--eai-transition-duration) max-height ease-in-out, var(--eai-transition-duration) padding-top ease-in-out, var(--eai-transition-duration) padding-bottom ease-in-out
}

.horizontal-collapse-transition {
  transition: var(--eai-transition-duration) width ease-in-out, var(--eai-transition-duration) padding-left ease-in-out, var(--eai-transition-duration) padding-right ease-in-out
}

.eai-list-enter-active, .eai-list-leave-active {
  transition: all 1s
}

.eai-list-enter-from, .eai-list-leave-to {
  opacity: 0;
  transform: translateY(-30px)
}

.eai-list-leave-active {
  position: absolute !important
}

.eai-opacity-transition {
  transition: opacity var(--eai-transition-duration) cubic-bezier(.55, 0, .1, 1)
}

.eai-icon-loading {
  animation: rotating 2s linear infinite
}

.eai-icon--right {
  margin-left: 5px
}

.eai-icon--left {
  margin-right: 5px
}

@keyframes rotating {
  0% {
    transform: rotateZ(0)
  }
  100% {
    transform: rotateZ(360deg)
  }
}

.eai-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit
}

.eai-icon.is-loading {
  animation: rotating 2s linear infinite
}

.eai-icon svg {
  height: 1em;
  width: 1em
}